# Vivado Project Files
.Xil
*.jou
*.log
*.str
*.backup
*.backup.*
*.hw
*.dir
*.pb
*.bit
*.bin
*.elf
*.mcs
*.mem
*.sysdef
*.drc
*.rpt
*.ngc
*.vdi
*.vds
*.xpe
*.csv
*.html
*.json
*.tcl
*.xml
*.txt
*.prp
*.hpf
*.wdf
*.wcfg
*.wdb
*.wdb.dir
*.xsd
*.dly
*.zip
*.tar.gz
*.gz
*.iso
*.rar
*.7z
*.xz
*.vcd
*.vpd
*.xsa
*.out
*.vlt
*.ltx
*.opt
*.cfg
*.dat
*.vcd.gz
*.vcd.xz
*.bin.gz
*.bit.gz
*.bin.xz
*.bit.xz
*.rdi
*.rdi.dir
*.rds
*.rds.dir
*.ip_user_files
*.ip_user_files.dir
*.srcs.dir
*.bd.dir
*.gen_run
*.gen_runs
*.cache
*.cache.dir
*.sim
*.sim.dir
*.ip
*.ip.dir
*.ipcache
*.ipcache.dir
*.synth_results
*.synth_results.dir
*.impl_results
*.impl_results.dir
*.runs
*.runs.dir
*.sdk
*.sdk.dir
*.launch
*.launch.dir
*.data
*.data.dir
*.hw_handoff
*.hw_handoff.dir
*.vivado
*.vivado.dir
*.jou.dir
*.log.dir
*.log.gz
*.log.xz
*.log.zip
*.log.rar
*.log.7z
*.log.tar.gz
*.log.tar.xz
*.log.tar.bz2
*.log.tar
*.log.bz2
*.log.xz
*.xml.gz
*.xml.xz
*.xml.zip
*.xml.rar
*.xml.7z
*.xml.tar.gz
*.xml.tar.xz
*.xml.tar.bz2
*.xml.tar
*.xml.bz2
*.xml.xz
*.tcl.gz
*.tcl.xz
*.tcl.zip
*.tcl.rar
*.tcl.7z
*.tcl.tar.gz
*.tcl.tar.xz
*.tcl.tar.bz2
*.tcl.tar
*.tcl.bz2
*.tcl.xz
*.txt.gz
*.txt.xz
*.txt.zip
*.txt.rar
*.txt.7z
*.txt.tar.gz
*.txt.tar.xz
*.txt.tar.bz2
*.txt.tar
*.txt.bz2
*.txt.xz
*.json.gz
*.json.xz
*.json.zip
*.json.rar
*.json.7z
*.json.tar.gz
*.json.tar.xz
*.json.tar.bz2
*.json.tar
*.json.bz2
*.json.xz
*.csv.gz
*.csv.xz
*.csv.zip
*.csv.rar
*.csv.7z
*.csv.tar.gz
*.csv.tar.xz
*.csv.tar.bz2
*.csv.tar
*.csv.bz2
*.csv.xz
*.html.gz
*.html.xz
*.html.zip
*.html.rar
*.html.7z
*.html.tar.gz
*.html.tar.xz
*.html.tar.bz2
*.html.tar
*.html.bz2
*.html.xz
*.xsa.dir
*.xsa.zip
*.xsa.tar.gz
*.xsa.tar.xz
*.xsa.tar
*.xsa.bz2
*.xsa.xz
*.out.dir
*.out.zip
*.out.tar.gz
*.out.tar.xz
*.out.tar
*.out.bz2
*.out.xz
*.vlt.dir
*.vlt.zip
*.vlt.tar.gz
*.vlt.tar.xz
*.vlt.tar
*.vlt.bz2
*.vlt.xz
*.ltx.dir
*.ltx.zip
*.ltx.tar.gz
*.ltx.tar.xz
*.ltx.tar
*.ltx.bz2
*.ltx.xz
*.opt.dir
*.opt.zip
*.opt.tar.gz
*.opt.tar.xz
*.opt.tar
*.opt.bz2
*.opt.xz
*.cfg.dir
*.cfg.zip
*.cfg.tar.gz
*.cfg.tar.xz
*.cfg.tar
*.cfg.bz2
*.cfg.xz
*.dat.dir
*.dat.zip
*.dat.tar.gz
*.dat.tar.xz
*.dat.tar
*.dat.bz2
*.dat.xz
*.vcd.dir
*.vcd.zip
*.vcd.tar.gz
*.vcd.tar.xz
*.vcd.tar
*.vcd.bz2
*.vcd.xz
*.vpd.dir
*.vpd.zip
*.vpd.tar.gz
*.vpd.tar.xz
*.vpd.tar
*.vpd.bz2
*.vpd.xz
*.backup.dir
*.backup.zip
*.backup.tar.gz
*.backup.tar.xz
*.backup.tar
*.backup.bz2
*.backup.xz
# Vivado generated directories
.ip_user_files/
.srcs/
.gen_runs/
.cache/
.sim/
.ip/
.ipcache/
.runs/
.sdk/
.launch/
.data/
.hw_handoff/
.vivado/
# Checkpoint files
*.dcp
# Xilinx IP cores (if not managing them separately)
ip_catalog/
# Simulation output directories (if not handled by .sim/)
xsim/
questa/
modelsim/
# HLS project files
*.log
*.jou
*.rpt
*.hw_emu
*.hw_ipi
*.hw_link
*.cosim_results
*.solution
# Vitis specific
.vitis/
platform/
export/
