# Vivado Build Files
*.jou
*.log
*.str
*.wdb
*.wcfg
*.dmp
*.pb
*.html
*.zip
*.gz

# Vivado Generated Directories
.cache/
.hw/
.ip_user_files/
.sim/
.srcs/
.xpr.cache/
.vivado/
.xgui/

# Vivado Backup Files
*.bak
*.backup.*
*.orig

# Vivado Project Generated
*.sdk/
*.runs/
*.gen/
*.ip_user_files/
*.Xil/

# Vitis Build Output
Debug/
Release/
_build/
.metadata/
.cache/
.mss/
.xsdk/
.hwdef/
sdk/
export/

# Vitis ELF, bin, etc.
*.elf
*.bin
*.map
*.log
*.xml
*.xclbin
*.xsa
*.vscode/

# Vitis Platform/Domain Build
platform/export/
platform/hw/
platform/sw/
platform/system/
platform/psu_cortexa53_0/

# Misc
*.tmp
*.swp
*.DS_Store
Thumbs.db
